.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
gradle
gradle.proporties
gradlew.bat
local.proporties
settings.gradle
gradle.build
./gradle.build
./app/gradle.build
./build
