<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.linuxpl.abraham.rszczers.mfisearch" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="info.linuxpl.abraham.rszczers.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.ShowSoonClass"
            android:label="@string/title_activity_show_soon_class" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.Schedule"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.ExamsActivity"
            android:label="@string/title_activity_exams" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.ViewScheduleActity"
            android:label="@string/title_activity_view_schedule_actity" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.ViewScheduleActivity"
            android:label="@string/title_activity_view_schedule" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.CheckExamActivity"
            android:label="@string/title_activity_check_exam" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.EditExamActivity"
            android:label="@string/title_activity_edit_exam" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.AddExamActivity"
            android:label="@string/title_activity_add_exam" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.ViewMapActivity"
            android:label="@string/title_activity_view_map" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.EditScheduleActivity"
            android:label="@string/title_activity_edit_schedule" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.AddScheduleActivity"
            android:label="@string/title_activity_add_schedule" >
        </activity>
        <activity
            android:name="info.linuxpl.abraham.rszczers.mfisearch.FindOnMapActivity"
            android:label="@string/title_activity_find_on_map" >
        </activity>
    </application>

</manifest>
